<component name="InspectionProjectProfileManager">
  <profile version="1.0">
    <option name="myName" value="Project Default"/>
    <inspection_tool class="SSBasedInspection" enabled="true" level="WARNING" enabled_by_default="true">
      <searchConfiguration name="TestNG assertion is not used with static import." text="$Instance$.$MethodCall$($Parameter$)" recursive="false" caseInsensitive="true" type="JAVA">
        <constraint name="Instance" regexp="org.testng.Assert|org.testng.AssertJUnit|org.testng.FileAssert" within="" contains=""/>
        <constraint name="MethodCall" target="true" within="" contains=""/>
        <constraint name="Parameter" minCount="0" maxCount="2147483647" within="" contains=""/>
      </searchConfiguration>
    </inspection_tool>
  </profile>
</component>
